header{
    height: 40vh;
}
.caroussel{
    height: 60vh;;
}
.jumbotron{
    padding-top:200px;
    padding-bottom:200px;
    margin: 0px;
}
.rounded-circle{
    border: 5px solid whitesmoke;
    position: relative;
    top:-200px;
    width:200px;
    z-index: 100;
}
.titre {
    color:whitesmoke;
    margin-top:-50px;
}
strong{
    font-size: 30px;
}
main{
    border-top: 5px solid whitesmoke;
    border-bottom: 5px solid whitesmoke;
}
.carousel{
    height: 100%;
    background-color: rgb(0, 0, 0);
}
h2{
    margin-bottom: 55px;
    margin-top:150px;
    color: whitesmoke;
}
p {
    font-size: 1.2rem;
    color: whitesmoke;
    font-weight: bold;
}
.profil{
    height:0px;
}
footer{
    background-color: rgb(42, 42, 42);
    height:300px;
}
h3{
    color: whitesmoke;
    margin-top: 50px;
    margin-bottom: 30px;
}
.logo{
    width: 40px;
}
.logo_big{
    width: 80px;
}
a{
    font-size: 1.2rem;
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none!important;
    color: whitesmoke;
}
a:hover{
    color: whitesmoke;
}
.zoom  {
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease; 
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.zoom:hover  {
-webkit-transform:scale(1.25);
-moz-transform:scale(1.25);
-ms-transform:scale(1.25);
-o-transform:scale(1.25);
transform:scale(1.25);
}
.space {
    margin-top:10px;
    margin-bottom:10px;
}
.vertical-align {
    margin-top:auto;
    margin-bottom:auto;
}
.progress{
    height:20px;
}
.parallax { 
    background-image: url("assets/para.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
  }